<div ng-include="'./partials/includes/nav_pane.html'"></div>
<div class='main_data' ng-controller='matrixesController'>
	<table class='dues_matrix display_table'>
		<tr>
			<th>Unit</th>
			<th class='dues_data_column' ng-repeat='month in month_labels.labels'>
				<span ng-bind="month | date : 'MMM yyyy'"></span>
			</th>
			<td>Unit</td>
		</tr>
		<tr ng-repeat='(key, value) in dues_matrix track by $index'>
			<td ng-bind = "key"></td>
			<td class='tooltip' ng-repeat='monthly_rate in value.rates track by $index'>
				<span class='tooltiptext'>
					Unit <span ng-bind='key'></span>, <span ng-bind='month_labels.labels[$index] | date: "MMM yyyy"'></span>
				</span>
				<span ng-bind = "monthly_rate | currency : $ : 0"></span>
			</td>
			<td ng-bind = "key"></td>
		</tr>
	</table>
	<input ng-show='show_update_form === false' type='submit' ng-click='show_update_form = true' value='Add New Dues'>
	<table ng-show='show_update_form === true'>
		<caption>Enter New Dues</caption>
		<tr>
			<th>Unit</th>
			<th>Month</th>
			<th>Year</th>
			<th>Dues Amount</th>
		</tr>
		<tr>
			<td>#<input type='text' ng-model='new_dues_info.unit_number'></td>
			<td><input type='text' ng-model='new_dues_info.month'></td>
			<td><input type='text' ng-model='new_dues_info.year'></td>
			<td>$<input type='text' ng-model='new_dues_info.amount'></td>
		</tr>
	</table>
	<input ng-show='show_update_form === true' type='submit' ng-click='append()' value='Submit Dues Update'>
	<input ng-show='show_update_form === true' type='submit' ng-click='show_update_form = false' value='Hide Update Form'>
</div>