<div ng-include="'./partials/includes/nav_pane.html'"></div>
<div>
	<div class='options_bar overflow'>
		<h2 class='header'>Unit Balances</h2>
		<p>Display account histories as </span>
			<label><input type='radio' ng-model='report_format' value='chart'>Chart</label> | <label><input type='radio' ng-model='report_format' value='graph'>Graph</label>. 
		</p>
		<table ng-show='admin && these_balances' class='balance_summary'>
			<tr>
				<th>Unit</th>
				<th>Current Balance</th>
				<th colspan='2'>Deposits</th>
			</tr>
			<tr ng-repeat='(unit, balance) in these_balances'>
				<td class='tooltip'>
					<div ng-class="{'pressed small_button': (active_unit_button === unit), 'unpressed small_button': (active_unit_button != unit)}" ng-click='unit_button_click(unit)'>
						<h2 class='button_label' ng-bind='unit'></h2>
						<span class='slightly_small tooltiptext'>Click to view full account history</span>
					</div>
				</td>
				<td ng-class='{green: (balance > 0.005), red: (balance < -0.005)}' ng-bind='balance | currency'></td>
				<td class='tooltip'><span ng-show='deposit_index[unit].pet_deposit'><span class='slightly_small tooltiptext'>Pet\nDeposit</span>P</span></td>
				<td class='tooltip'><span ng-show='deposit_index[unit].sublease_deposit'><span class='slightly_small tooltiptext'>Sublease Deposit</span>S</span></td>
			</tr>
		</table>
		<table ng-show='shareholder_balance_list'>
			<tr>
				<th>Balance</th>
				<th>Unit Count</th>
			</tr>
			<tr ng-repeat="(balance_size, unit_count) in shareholder_balance_list"> 
				<td ng-bind='balance_size | currency'></td>
				<td ng-bind='unit_count'></td>
			</tr>
			<tr>
				<td ng-bind='balance_total | currency'></td>
				<td ng-bind='total_unit_count'></td>
			</tr>
		</table>
	</div>
	<div class='unit_account main_data'>
		<div class='slightly_small_text full_history'>
			<h2 g-show='this_report'>Account History for Unit <span ng-bind='reported_unit'></span></h2>
			<table ng-show='this_report && (report_format === "chart")' >
				<tr>
					<th>Date</th>
					<th>Charges</th>
					<th>Credits</th>
					<th>Type</th>
					<th>Check No.</th>
					<th>Running Balance</th>
					<th>Notes</th>
				</tr>
				<tr ng-repeat='row in this_report.transactions track by $index'>
					<td ng-bind='row.date'></td>
					<td><span ng-show='row.charge_amount' ng-bind="row.charge_amount | currency"></span></td>
					<td><span ng-show='row.credit_amount' ng-bind="row.credit_amount | currency"></span></td>
					<td ng-bind='row.type'></td>
					<td ng-bind='row.check_number'></td>
					<td ng-bind="this_report.balances[$index] | currency"></td>
					<td ng-bind='row.notes'></td>
				</tr>
				<tr>
					<td>12/31/2010</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><span ng-bind="'$'+initial_balance"></span></td>
					<td>Initial Balance</td>
				</tr>
			</table>
		</div>
		<div class='report_chart' ng-show='this_report && report_format === "graph"'>
			<h2>Account Balance Over Time</h2>
			<nvd3 data='report_chart_data' options='report_chart_options'></nvd3>
		</div>
	</div>
</div>
