<div ng-include="'./partials/includes/nav_pane.html'"></div>
<div ng-controller='expendituresController'>
	<table class='spending_history'>
		<caption><h2>Coop Spending History</h2></caption>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<th ng-repeat="(year, unimportant) in these_years" ng-bind='year'></th>
		</tr>
		<tr>
			<th colspan='3'><h2>Expenses</h2></th>
		</tr>
		<tr>
			<th colspan='3'><h3>Taxes, Mortgage, Insurance</h3></th>
		</tr>
		<tr ng-repeat="(this_category, these_amounts) in supercategory_index.Taxes">
			<td></td>
			<th colspan='2' ng-bind="this_category"></th>
			<td ng-repeat="(year, also_unimportant) in these_years" ng-bind="these_amounts[year] | currency"></td>
		</tr>
		<tr ng-repeat="(this_category, these_amounts) in supercategory_index.Mortgage">
			<td></td>
			<th colspan='2' ng-class="{'subcategory': (this_category != 'Total')}" ng-bind="this_category"></th>
			<td ng-repeat="(year, also_unimportant) in these_years" ng-bind='these_amounts[year] | currency'></td><!--mustn't iterate through category's own year list because it may be missing some-->
		</tr>
		<tr ng-repeat='(this_category, these_amounts) in supercategory_index["Insurance"]'>
			<td></td>
			<th colspan='2' ng-bind='this_category'></th>
			<td ng-repeat="(year, also_unimportant) in these_years" ng-bind='these_amounts[year] | currency'></td>
		</tr>
		<tr>
			<th colspan='3'><h3>Utilities</h3></th>
		</tr>
		<tr ng-repeat='(this_category, these_amounts) in supercategory_index.Utilities'>
			<td></td>
			<th colspan='2' ng-bind='this_category'></th>
			<td ng-repeat="(year, also_unimportant) in these_years" ng-bind='these_amounts[year] | currency'></td>
		</tr>
		<tr>
			<th colspan='3'><h3>Other Expenditures</h3></th>
		</tr>
		<tr ng-repeat='(this_category, these_amounts) in supercategory_index.Other'>
			<td></td>
			<th colspan='2' ng-bind='this_category'></th>
			<td ng-repeat="(year, also_unimportant) in these_years" ng-bind='these_amounts[year] | currency'></td>
		</tr>
		<tr>
			<th colspan='3'><h3>Maintenance & Repair</h3></th>
		</tr>
		<tr ng-show='show_these.maintenance || (this_category === "Total")' ng-repeat='(this_category, these_amounts) in supercategory_index.Maintenance'>
			<td></td>
			<th colspan='2' ng-class='{"subcategory": (this_category != "Total")}'><button ng-show='(this_category === "Total")'ng-click='toggle("maintenance")'>Display/Hide subcategories</button> <span ng-bind='this_category'</th>
			<td ng-repeat="(year, also_unimportant) in these_years" ng-bind='these_amounts[year] | currency'></td>
		</tr>
		<tr>
			<td colspan='3'><h3>Expense Totals</h3></td>
			<td ng-repeat='(year, total) in supercategory_index["Expense Totals"]' ng-bind='total | currency'></td><!-- this should be safe to iterate over though -->
		</tr>
		<tr></tr>
		<tr>
			<td></td>
			<td></td>
			<th ng-repeat="(year, unimportant) in these_years" ng-bind='year'></th>
		</tr>
		<tr>
			<th colspan='3'><h2>Income</h2></th>
		</tr>
		<tr ng-repeat="(this_category, these_amounts) in supercategory_index.Income" ng-if='!(this_category === "Total")'>
			<td></td>
			<th colspan='2' ng-bind="this_category"></th>
			<td ng-repeat="(year, also_unimportant) in these_years" ng-bind="these_amounts[year] | currency"></td>
		</tr>
		<tr>
			<th colspan='3'><h3>Income Totals</h3></th>
			<td ng-repeat='(year, total) in supercategory_index["Income"].Total' ng-bind='total | currency'></td><!-- this should be safe to iterate over though -->
		</tr>
		<tr></tr>
		<tr>
			<th colspan='3'><h2>Income - Expenses</h2></th>
			<td ng-repeat='(year, also_unimportant) in these_years' ng-bind='(supercategory_index["Expense Totals"][year] - supercategory_index["Income"].Total[year]) | currency'></td>
		</tr>
	</table>
	<input type='submit' class='top slightly_small' ng-click='toggle("new_line_form")' ng-show='admin' value='Show/Hide new category form'>
	<form class='new_budget_line' ng-show='show_these.new_line_form'>
		<p>Input New Budget Line:</p>
		<p>Category: <input type='text' ng-model='new_line.category'></p>
		<p>This category is <label><input type='checkbox' ng-model='new_line.is_income'> Income</label><label><input type='checkbox' ng-model='new_line.is_maintenance'> Maintenance</label>.</p>
		<p>Amounts:</p>
		<p><button ng-click='check_all()'>Check all completed years</button></p>
		<table>
			<tr ng-repeat="(year, data) in these_years">
				<td><input type='checkbox' ng-model='data.included' checked></td>
				<td ng-bind='year'></td>
				<td><input type='text' ng-disabled='!data.included' ng-model='data.amount'></td>
			</tr>
		</table>
		<input type='submit' ng-click='create_budget_line(new_line)' value='Create Category'>
	</form>
	<h2>Expense Graph</h2>
	<div class='spending_chart'>
		<linechart data="expense_chart_data" options="expense_chart_options"></linechart>
	</div>
	<h2>Income Graph</h2>
	<div class='spending_chart'>
		<linechart data="income_chart_data" options="income_chart_options"></linechart>
	</div>
</div>