<div class='options_bar' ng-controller='filters_v2Controller'>
	<div class='filter_title'>
		<h2>Shareholder Accounts</h2>
		<h3><button type='submit' ng-class="{'trans_filter filter_by': true, 'pressed': !collapsed_filter_options.unit, 'unpressed': collapsed_filter_options.unit}" ng-click='toggle_filter_options("unit")'><span class='button_label'>By Unit</span></button></h3>
	</div>
	<table ng-show='admin && collapsed_filter_options.unit === false' class='balance_summary'>
		<tr>
			<th>Unit</th>
			<th>Current Balance</th>
		</tr>
		<tr ng-repeat='(unit, this_unit_info) in info_by_unit'>
			<td>
				<div ng-class="{'small_button: true, pressed': (this_unit_info.filter === true), 'unpressed': (this_unit_info.filter === false)}" ng-click='toggle_button(unit)'>
					<h2 class='button_label'>Unit 
						<span ng-bind='unit'></span>, balance 
						<span ng-show='this_unit_info.balance <= 0'>owed: </span>
						<span ng-show='this_unit_info.balance > 0'>surplus: </span>
						<span ng-bind='this_unit_info.balance | currency'></span>
					</h2>
				</div>
			</td>
			<td>{{this_unit_info}}</td>
		</tr>
	</table>
	<div class='filter_title'>
		<h3><button type='submit' ng-class="{'trans_filter filter_by': true, 'pressed': !collapsed_filter_options.type, 'unpressed': collapsed_filter_options.type}" ng-click='toggle_filter_options("type")'><span class='button_label'>By Type</span></button></h3>
	</div>
	<div ng-show='collapsed_filter_options.type === false'>
		<div ng-repeat='this_button in type_buttons | orderBy: "label"' ng-class="{'trans_filter': true, 'long_button': true, 'pressed': (this_button.filter === true), 'unpressed': (this_button.filter === false)}" ng-click='toggle_button(this_button)'>
			<h2 class='button_label' ng-bind='this_button.label'></h2>
		</div>
	</div>
</div>
