<div class='header_pane' ng-controller='appController'>
	<div class='nav_box'>
		<h1 class='center_horiz'>Wilana Cooperative</h1>
		<div class='link_line center_horiz' ng-show='current_user'>
			<a ng-class="{'current_view': nav_topic === 'unit_accounts'}" href="" ng-mouseover='new_nav_topic("unit_accounts")'>Unit Accounts</a> &nbsp&nbsp|&nbsp&nbsp 
			<a ng-class="{'current_view': nav_topic === 'budget_spending'}" href="" ng-mouseover='new_nav_topic("budget_spending")'>Budget & Spending</a> &nbsp&nbsp|&nbsp&nbsp 
			<a ng-class="{'current_view': nav_topic === 'directory_docs'}" href="" ng-mouseover='new_nav_topic("directory_docs")'>Directory & Documents</a> &nbsp&nbsp|&nbsp&nbsp 
			<a ng-class="{'current_view': nav_topic === 'feedback_prefs'}" href="" ng-mouseover='new_nav_topic("feedback_prefs")'>Site Tools</a>
		</div>
		<div class='link_line_2 center_horiz' ng-show='current_user'>
			<div class='link_line_2_folder_container' ng-switch on='nav_topic'>
				<div class='link_line_2_folders' ng-switch-when="unit_accounts">
				<!--<span class='nav_submenu' ng-show='nav_topic === "unit_accounts"'>-->
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/matrix'}" href='#/matrix/'>Dues Rates</a> &nbsp&nbsp|&nbsp&nbsp 
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/reports'}" href='#/reports/'>Current Balance</a> &nbsp&nbsp|&nbsp&nbsp 
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/transactions'}" href='#/transactions/'>Search Transactions</a>
					<span ng-show='admin'>
						 &nbsp&nbsp|&nbsp&nbsp <a ng-class="{'link_tab': true, 'current_view': this_view === '/transactions/new'}" href='#/transactions/new'>New Transactions</a>
					</span>
				</div>
				<div class='link_line_2_folders' ng-switch-when="budget_spending">
				<!--<span class='nav_submenu' ng-show='nav_topic === "budget_spending"'>-->
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/budget/overview'}" href='#/spending/overview/'>Overview</a> &nbsp&nbsp|&nbsp&nbsp
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/budget/tables'}" href='#/spending/tables/'>Category Tables</a> &nbsp&nbsp|&nbsp&nbsp 
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/taxes'}" href='#/taxes/'>Taxes</a> &nbsp&nbsp|&nbsp&nbsp 
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/mortgage'}" href='#/mortgage/'>Blanket Mortgage</a>
				</div>
				<div class='link_line_2_folders' ng-switch-when="directory_docs">
				<!--<span class='nav_submenu' ng-show='nav_topic === "directory_docs"'>-->
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/directory'}" href='#/units/'>Unit Directory</a> &nbsp&nbsp|&nbsp&nbsp 
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/documents'}" href='#/documents/'>Governing Documents & Useful Links</a>
				</div>
				<div class='link_line_2_folders' ng-switch-when="feedback_prefs">
				<!--<span class='nav_submenu' ng-show='nav_topic === "feedback_prefs"'>-->
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/feedback'}" href='#/feedback/'>Feedback</a> &nbsp&nbsp|&nbsp&nbsp 
					<a ng-class="{'link_tab': true, 'current_view': this_view === '/preferences'}" href='#/preferences/'>Preferences & Email Reminders</a>
				</div>
			</div>
		</div>
	</div>
	<div class='session_box not_block'>
		<h3 ng-show='false' ng-bind='welcome()'></h3>
		<p ng-show='!logged_in'>Please <input type='submit' ng-click='toggle_form("login")' value='log in'> or <input type='submit' ng-click='toggle_form("register")' value='register'></p>
		<hr>
		<form ng-show='(!logged_in && show_this === "login")' class='login animate-login_reg'>	
			<table>
				<tr>
					<td>Unit #: </td>
					<td><select ng-model='login_info.unit' class='credentials' ng-options='user_object.unit as user_object.unit for (user, user_object) in user_list'></select> </td>
					<td> Password:</td>
					<td><input type='password' class='credentials' ng-keyup="$event.keyCode == 13 && login(login_info)" ng-model='login_info.pw'></td>
				</tr>
				<tr>
					<td colspan='2'><input type='submit' class='bottom login_button' ng-click='login(login_info)' value='Log In'></td>
					<td colspan='2'><input type='submit' class='bottom login_button' ng-click='login_psspti()' value='test Passport login'></td>
				</tr>
			</table>
		</form>
		<div ng-show='(!logged_in && show_this === "register")' class='login animate-login_reg'>
			<table>
				<tr>
					<td>Unit #: </td>
					<td><input type='text' class='credentials' ng-model='new_user.unit'> </td>
					<td> Password:</td>
					<td><input type='password'  class='credentials' ng-model='new_user.pw'></td>
				</tr>
				<tr>
					<td colspan='2'>
						<input type='submit' class='slightly_small_text login_button' ng-disabled='!new_user.unit || !new_user.pw' ng-click='register(new_user)' value='Register New User'> 
					</td>
					<td> Confirm Password:</td>
					<td><input type='password' class='credentials' ng-model='new_user.pw_confirm'></td>
				</tr>
			</table>
		</div>
		<div class='login' ng-show='logged_in'>
			<p>
				<input type='submit' ng-click='logout()' value='Log Out'> | 
				<!--<input type='submit' ng-click='logout_google()' value='Log Out w/ Google (test)'> -->
				<input type='submit' ng-show='!edit_user' ng-click='edit_user = true' value='Edit User Info'>
				<span ng-show='edit_user'>
					<input type='submit' ng-click='edit_user = false' value='Cancel Edit'> | 
					<input type='submit' ng-click='update_user()' value='Submit Update'>
				</span>
			</p>
			<form ng-show='edit_user'>
				<table>
					<tr>
						<td>Email:</td>
						<td colspan='2'><input type='text' ng-model='updated_user.email'> </td>
						<td> Password:</td>
						<td><input type='password' class='credentials' ng-model='updated_user.pw_hash'></td>
					</tr>
					<tr>
						<td>Unit:</td>
						<td><select ng-model='updated_user.unit' class='credentials' ng-options='user_object.unit as user_object.unit for (user, user_object) in user_list'></select> </td>
						<td colspan='2'> Confirm Password:</td>
						<td><input type='password' class='credentials' ng-model='updated_user.pw_confirm'></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
<!--<div class='boundary'></div>-->
<!--	<div class='log_box'>
		<table class='log_table'>
			<caption class='log_caption'>
				<span>Message Log</span>
			</caption>
			<tr>
				<th class='timestamp'>Time</th>
				<th class='message'>Message Text</th>
			</tr>
			<tr ng-class='{error: message.type=="error"}' ng-repeat='message in message_log track by $index'>
				<td class='timestmap' ng-bind='message.date'></td>
				<td class='message' ng-bind='message.text'></td>
			</tr>
		</table>
	</div> -->